---
import SectionsList from "@/components/sections/sections-list.astro";
import Seperator from "@/components/seperator.astro";
import PageLayout from "@/layouts/page.layout.astro";
import { cn } from "@/lib/utils";
import { getCollection, type CollectionEntry } from "astro:content";
import { Block, GoogleMap } from "basecamp/components";
import { Globe, Mail } from "lucide-react";
import { GOOGLE_MAPS_API_KEY } from "astro:env/client";
import { Image } from "astro:assets";

import Facebook from "../../images/facebook.svg";

export async function getStaticPaths() {
    const groupsCollection: CollectionEntry<"groups">[] =
        await getCollection("groups");
    return groupsCollection.map((item) => ({
        params: { slug: item.slug },
        props: item,
    }));
}
type Props = CollectionEntry<"groups">;

const group = Astro.props;

const slug = group.slug;
const {
    website,
    contact,
    facebook,
    name,
    longAddress,
    address: { longitude, latitude },
    sections,
    charityNumber,
} = group.data;
---

<PageLayout
    title={name + " | Local Scout Groups & Units | Join Scouting in Runnymede"}
    description="Discover local scout groups and units within Runnymede. Learn about each group's activities, find meeting times, and connect with leaders to join the scouting adventure in your community."
>
    <Block.Wrapper id="success">
        <Block.Seperator slot="seperator">
            <Seperator loading="eager" />
        </Block.Seperator>
        <Block.Header slot="header" className="text-primary">
            {name} Scout Group
        </Block.Header>
        <Block.SubHeader slot="subHeader" tag="p">
            {longAddress}
        </Block.SubHeader>
        <Block.Body slot="body" size="md" className="mb-0 lg:mb-0">
            <GoogleMap
                longitude={longitude}
                latitude={latitude}
                apiKey={GOOGLE_MAPS_API_KEY}
            />
        </Block.Body>
    </Block.Wrapper>

    <Block.Wrapper id="socials">
        <Block.Body slot="body" size="sm" className="mb-0 lg:mb-0">
            <ul class="flex justify-center space-x-4">
                {
                    website && (
                        <li>
                            <a
                                target="_blank"
                                href={website}
                                class="text-icon-website hover:text-icon-hover"
                                title={`${name}'s website`}
                            >
                                <Globe
                                    className="w-6 h-6"
                                    aria-labelledby={slug + "-website"}
                                />
                                <span id={slug + "-website"} class="sr-only">
                                    {name}'s website
                                </span>
                            </a>
                        </li>
                    )
                }

                {
                    facebook && (
                        <li>
                            <a
                                target="_blank"
                                href={facebook}
                                class="text-icon-facebook hover:text-icon-hover"
                                title={`${name}'s facebook page`}
                            >
                                <Image
                                    loading={"lazy"}
                                    src={Facebook}
                                    alt={"Facebook logo"}
                                    width={64}
                                    height={64}
                                    quality={100}
                                    class="w-6 h-6"
                                    aria-labelledby={slug + "-facebook"}
                                />
                                <span id={slug + "-facebook"} class="sr-only">
                                    {name}'s facebook page
                                </span>
                            </a>
                        </li>
                    )
                }

                {
                    contact && (
                        <li>
                            <a
                                target="_blank"
                                href={contact}
                                class="text-icon-contact hover:text-icon-hover"
                                title={`${name}'s contact form`}
                            >
                                <Mail
                                    className="w-6 h-6"
                                    aria-labelledby={slug + "-contact"}
                                />
                                <span id={slug + "-contact"} class="sr-only">
                                    {name}'s contact form
                                </span>
                            </a>
                        </li>
                    )
                }
            </ul>
            <div
                class={cn("flex justify-center font-sm", {
                    "mt-4": !!website || !!facebook || !!contact,
                })}
            >
                Charity Number:&nbsp;<a
                    class="hover:underline underline-offset-2 text-primary"
                    href={"https://register-of-charities.charitycommission.gov.uk/en/charity-search/-/charity-details/" +
                        charityNumber +
                        "/charity-overview"}>{charityNumber}</a
                >
            </div>
        </Block.Body>
    </Block.Wrapper>

    <Block.Wrapper id="sections" variant="alternative">
        <Block.Seperator slot="seperator">
            <Seperator loading="eager" />
        </Block.Seperator>
        <Block.Header slot="header" className="text-primary">
            Sections
        </Block.Header>
        <Block.Body slot="body" size="lg">
            <SectionsList sections={sections} /></Block.Body
        >
    </Block.Wrapper>
</PageLayout>
