---
import PageLayout from "@/layouts/page.layout.astro";
import { getCollection } from "astro:content";
import GroupUnitItem from "@/components/groups-and-units/group-unit-item.astro";

const groups = await getCollection("groups");
const units = await getCollection("units");
---

<PageLayout
	title="Local Scout Groups & Units | Join Scouting in Runnymede"
	description="Discover local scout groups and units within Runnymede. Learn about each group's activities, find meeting times, and connect with leaders to join the scouting adventure in your community."
	heading="Our groups and units"
	subHeading="We have 11 groups and 3 explorer units dotted around runnymede. Find out more information on each group by visiting their socials!"
>
	<div class="max-w-screen-xl mx-auto">
		<div
			class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
		>
			{
				groups &&
					groups.map(({ data }) => (
						<GroupUnitItem
							name={data.name}
							location={data.location}
							mapLink={data.mapLink}
							website={data.website}
							contact={data.contact}
							facebook={data.facebook}
							image={data.image}
						/>
					))
			}
		</div>
		<div
			class="mt-8 lg:mt-16 grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
		>
			{
				units &&
					units.map(({ data }) => (
						<GroupUnitItem
							name={data.name}
							location={data.location}
							mapLink={data.mapLink}
							website={data.website}
							contact={data.contact}
							facebook={data.facebook}
							image={data.image}
						/>
					))
			}
		</div>
	</div>
</PageLayout>
