---
import { Image } from "astro:assets";
import { Button } from "basecamp/components";
import { Globe, Mail, MapPinned, ArrowRight } from "lucide-react";
import  Facebook  from "../../images/facebook.svg";

interface Props {
    type: "group" | "unit";
    slug: string;
    name: string;
    image: {
        src: string;
        width: number;
        height: number;
        format:
            | "png"
            | "jpg"
            | "jpeg"
            | "tiff"
            | "webp"
            | "gif"
            | "svg"
            | "avif";
    };
    address: string;
    mapLink: string;
    facebook?: string | undefined;
    website?: string | undefined;
    contact?: string | undefined;
}

const {
    type,
    slug,
    image,
    name,
    address,
    contact,
    facebook,
    website,
    mapLink,
} = Astro.props;
---

<div class="text-center">
    <Image
        loading={"lazy"}
        src={image}
        alt={name}
        width={256}
        height={256}
        quality={100}
        class="mx-auto mb-4 w-64 h-64 sm:h-auto sm:w-auto rounded-2xl"
    />

    <h3 class="mb-1 text-2xl font-bold tracking-tight">
        {name}
    </h3>
    <p>{address}</p>

    <ul class="flex justify-center mt-4 space-x-4">
        {
            website && (
                <li>
                    <a
                        target="_blank"
                        href={website}
                        class="text-icon-website hover:text-icon-hover"
                        title={`${name}'s website`}
                    >
                        <Globe
                            className="w-6 h-6"
                            aria-labelledby={slug + "-website"}
                        />
                        <span id={slug + "-website"} class="sr-only">
                            {name}'s website
                        </span>
                    </a>
                </li>
            )
        }

        {
            facebook && (
                <li>
                    <a
                        target="_blank"
                        href={facebook}
                        class="text-icon-facebook hover:text-icon-hover"
                        title={`${name}'s facebook page`}
                    >
                        <Image
                            loading={"lazy"}
                            src={Facebook}
                            alt={"Facebook logo"}
                            width={64}
                            height={64}
                            quality={100}
                            class="w-6 h-6"
                            aria-labelledby={slug + "-facebook"}
                        />

                        <span id={slug + "-facebook"} class="sr-only">
                            {name}'s facebook page
                        </span>
                    </a>
                </li>
            )
        }

        {
            contact && (
                <li>
                    <a
                        target="_blank"
                        href={contact}
                        class="text-icon-contact hover:text-icon-hover"
                        title={`${name}'s contact form`}
                    >
                        <Mail
                            className="w-6 h-6"
                            aria-labelledby={slug + "-contact"}
                        />
                        <span id={slug + "-contact"} class="sr-only">
                            {name}'s contact form
                        </span>
                    </a>
                </li>
            )
        }
        {
            mapLink && (
                <li>
                    <a
                        target="_blank"
                        href={mapLink}
                        class="text-icon-map hover:text-icon-hover"
                        title={`Find ${name} on a map`}
                    >
                        <MapPinned
                            className="w-6 h-6"
                            aria-labelledby={slug + "-mapLink"}
                        />
                        <span id={slug + "-mapLink"} class="sr-only">
                            Find {name} on a map
                        </span>
                    </a>
                </li>
            )
        }
    </ul>

    {
        type == "group" && (
            <div class="mt-4">
                <a href={"/groups-and-units/" + slug}>
                    <Button
                        type="button"
                        Icon={ArrowRight}
                        text="More Information"
                        variant="link"
                        size="small"
                    />
                </a>
            </div>
        )
    }
</div>
