---
import { Image } from "astro:assets";

import logo from "@/images/logo.png";
import { SITE_TITLE, SITE_URL } from "@/lib/consts";
import { FOOTER_LINKS } from "@/lib/navigation";

const currentYear = new Date().getFullYear();

const links = FOOTER_LINKS;

---

<footer class="p-4 md:p-8 lg:p-10 bg-alternative">
    <div class="mx-auto max-w-screen-md text-center">
        <a
            href={SITE_URL}
            class="flex justify-center items-center text-2xl font-semibold"
        >
            <Image
                loading={"eager"}
                src={logo}
                alt={"Runnymede scouts logo"}
                quality={100}
                class="aspect-square mr-2 h-8 w-8"
            />

            {SITE_TITLE}
        </a>
        <p class="my-6">
            Providing a positive impact in communities since 1974
        </p>
        <ul class="flex flex-wrap justify-center items-center mb-6">
            {
                links &&
                    links.map((link) => (
                        <li>
                            <a
                                href={link.url}
                                target={link.target}
                                class="mr-4 hover:underline md:mr-6 "
                            >
                                {link.text}
                            </a>
                        </li>
                    ))
            }
        </ul>
        <span class="text-sm sm:text-center">
            <span>
                © {currentYear}
            </span>

            <a href={SITE_URL} class="hover:underline underline-offset-2 text-primary">
                {SITE_TITLE}
            </a>
            <span> | Charity number: </span>
            <a
                class="hover:underline underline-offset-2 text-primary"
                href="https://register-of-charities.charitycommission.gov.uk/en/charity-search/-/charity-details/1039314/charity-overview"
            >
                1039314
            </a>
        </span>
        <div>All Rights Reserved.</div>
    </div>
</footer>
