---
import { Asterisk } from "lucide-react";

interface Props {
  id: string;
  label: string;
  placeholder: string;
  required: boolean;
}

const { id, label, placeholder, required }: Props = Astro.props;
---

<div>
  <label for={id} class="block mb-2 font-medium">
    <span class="inline-block">{label}</span>
    {
      required && (
        <span class="inline-block">
          <span class="sr-only">required</span>
          <Asterisk aria-hidden="true" className="text-primary w-4 h-4" />
        </span>
      )
    }
  </label>
  <textarea
    id={id}
    rows="6"
    name={id}
    class="block p-2.5 w-full rounded-lg bg-input text-input-foreground border border-input-border focus:ring-1 focus:ring-primary"
    placeholder={placeholder}
    required={required}></textarea>
</div>
