---
import { Asterisk } from "lucide-react";

interface Option {
  label: string;
}

interface Props {
  id: string;
  label: string;
  required: boolean;
  options: Option[];
}

const { id, label, required, options }: Props = Astro.props;
---

<div>
  <label for={id} class="block mb-2 font-medium">
    <span class="inline-block">
      {label}
    </span>
    {
      required && (
        <span class="inline-block">
          <span class="sr-only">required</span>
          <Asterisk aria-hidden="true" className="text-primary w-4 h-4" />
        </span>
      )
    }
  </label>
  <select
    id={id}
    name={id}
    class="block p-2.5 w-full rounded-lg bg-input text-input-foreground border border-input-border focus:ring-1 focus:ring-primary"
    required={required}
  >
    {
      options &&
        options.map((option) => (
          <option
            value={option.label}
            label={option.label}
          >
            {option.label}
          </option>
        ))
    }
  </select>
</div>
